
@media (max-width: 768px) {
    /*577-768*/
    .container {
        width: 540px;
    }
    .cat-card{
        width: 100px;
        height: 50px;
    }
   header{
       width: fit-content;
   }
}

@media (max-width: 576px) {
    /*320-576*/
    .container {
        width: 310px;
        padding: 0 5px;
    }

    .cat-card{
        width: 200px;
        height: 200px;
    }
    .card-img{
        width: 100%;
        height: 100%;
    }
}